<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <location>/erroGenerico</location>
    </error-page>
    <servlet>
        <servlet-name>FuncionarioController</servlet-name>
        <servlet-class>controller.FuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriasController</servlet-name>
        <servlet-class>controller.CategoriasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientesController</servlet-name>
        <servlet-class>controller.ClientesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutosController</servlet-name>
        <servlet-class>controller.ProdutosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargosController</servlet-name>
        <servlet-class>controller.CargosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstoqueController</servlet-name>
        <servlet-class>controller.EstoqueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCategoriaController</servlet-name>
        <servlet-class>controller.ManterCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCargoController</servlet-name>
        <servlet-class>controller.ManterCargoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterClienteController</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProdutoController</servlet-name>
        <servlet-class>controller.ManterProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterEstoqueController</servlet-name>
        <servlet-class>controller.ManterEstoqueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPedidoController</servlet-name>
        <servlet-class>controller.ManterPedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidosController</servlet-name>
        <servlet-class>controller.PedidosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPagamentoController</servlet-name>
        <servlet-class>controller.ManterPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotasFiscaisController</servlet-name>
        <servlet-class>controller.NotasFiscaisController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>erroGenericoController</servlet-name>
        <servlet-class>controller.erroGenericoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FuncionarioController</servlet-name>
        <url-pattern>/funcionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriasController</servlet-name>
        <url-pattern>/categorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientesController</servlet-name>
        <url-pattern>/clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosController</servlet-name>
        <url-pattern>/produtos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargosController</servlet-name>
        <url-pattern>/cargos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstoqueController</servlet-name>
        <url-pattern>/estoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCategoriaController</servlet-name>
        <url-pattern>/manterCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCargoController</servlet-name>
        <url-pattern>/manterCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterClienteController</servlet-name>
        <url-pattern>/manterCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/manterFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProdutoController</servlet-name>
        <url-pattern>/manterProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterEstoqueController</servlet-name>
        <url-pattern>/manterEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPedidoController</servlet-name>
        <url-pattern>/manterPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidosController</servlet-name>
        <url-pattern>/pedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPagamentoController</servlet-name>
        <url-pattern>/manterPagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotasFiscaisController</servlet-name>
        <url-pattern>/notasFiscais</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>erroGenericoController</servlet-name>
        <url-pattern>/erroGenerico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
